<%
  primary_host = AppHost.primary_host
  server_ip = AppHost.server_ip
  cname_name = Current.organization.custom_domain.presence || "app"
%>

<div class="card border border-base-300">
  <div class="card-body p-0">
    <div class="overflow-x-auto">
      <table class="table table-sm">
        <thead class="text-sm font-semibold text-base-content bg-base-200">
          <tr class="border-b border-base-300">
            <th class="w-24">Type</th>
            <th>Name</th>
            <th>Points to</th>
          </tr>
        </thead>
        <tbody>
          <tr class="border-b border-base-300 hover:bg-base-200">
            <td class="font-mono text-xs font-medium">CNAME</td>
            <td><%= render "org/settings/copyable_value", value: cname_name %></td>
            <td><%= render "org/settings/copyable_value", value: primary_host %></td>
          </tr>
          <tr class="hover:bg-base-200">
            <td class="font-mono text-xs font-medium">A</td>
            <td><%= render "org/settings/copyable_value", value: "@" %></td>
            <td><%= render "org/settings/copyable_value", value: server_ip %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
