<div class="text-center space-y-4">
  <span class="material-symbols-outlined text-5xl text-warning">build</span>
  <h1 class="text-2xl font-semibold">We'll be back soon</h1>
  <p class="text-base-content/70"><%= message %></p>
</div>
