<h1 id="<%= dom_id(user, :full_name_heading) %>" class="mt-3 text-4xl font-semibold tracking-normal">
  <%= [ user.first_name, user.last_name ].compact_blank.join(" ").presence || user.email %>
</h1>
